<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<!--<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="D:\IISLogs\PlataformaWeb\ServiciosWCF\SVC_LuzDelSur.Comercial.ReclamoCom.CartaReclamoCovid.Svc_"/>
			<appendtofile value="true"/>
			<staticlogfilename value="false"/>
			<rollingstyle value="Composite"/>
			<datepattern value="yyyyMMdd.lo\g"/>
			<maxsizerollbackups value="5"/>
			<maximumfilesize value="100MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionpattern value="%newline#############################################################%newline %date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
			<layout type="log4net.Layout.PatternLayout" value="(%thread) %message"/>
			<remoteAddress value="logserver" />
			<identity value="SVC_LuzDelSur.Comercial.ReclamoCom.CartaReclamoCovid_%logger" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ALL" />
			</filter>
		</appender>
		<root>
			<level value="ERROR"/>
			<level value="INFO"/>
			<level value="WARNING"/>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="RemoteSyslogAppender" />
		</root>
	</log4net>-->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="debug" name="intranet.ServiceWCF.WCFIntranet">
				<!--SOAP-->
				 <!--<endpoint address="" binding="basicHttpBinding" contract="intranet.ServiceWCF.IWCFIntranet"></endpoint>-->
				 <endpoint address="" behaviorConfiguration="ebService"
				  binding="webHttpBinding" bindingConfiguration="webHttpBinding"  name ="webHttpBinding_IWCFIntranet1" contract="intranet.ServiceWCF.IWCFIntranet"
				  kind="webHttpEndpoint" />
				<!--<endpoint address="" behaviorConfiguration="" binding="webHttpBinding"  bindingConfiguration="webHttpBinding_Intranet" name="EndpointHttp" contract="intranet.ServiceWCF.IWCFIntranet" />-->
				<!--<endpoint address="mex" behaviorConfiguration="" binding="mexTcpBinding"
                  contract="IMetadataExchange"/>-->
				<!--<endpoint address="" behaviorConfiguration="" binding="netTcpBinding"
							bindingConfiguration="netHttpBinding_Intranet" name="EndpointNetTcp"
							contract="intranet.ServiceWCF.IWCFIntranet"/>-->
		   <host>
			  <baseAddresses>
				  <add baseAddress="http://localhost:17476/WCFIntranet.svc" />
			  </baseAddresses>
		  </host>
			</service>
		</services>
        <bindings>
		  <basicHttpBinding>
			  <binding  name="basicHttpBinding" closeTimeout="01:50:00" openTimeout="01:50:00" maxBufferPoolSize="2147483647"
					   maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:50:00"
					   sendTimeout="01:50:00" transferMode="Buffered">
			  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647"
								maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
		      <security mode="TransportCredentialOnly">
				<transport clientCredentialType="Basic"/>
			  </security> 
			  </binding>
		  </basicHttpBinding>
		  <webHttpBinding>
			  <binding name="webHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"
					   maxBufferSize="2147483647" closeTimeout="00:03:00" transferMode="Buffered" openTimeout="00:03:00"
					   receiveTimeout="00:10:00" sendTimeout="00:03:00">
				  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
								maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				<security mode="TransportCredentialOnly">
					<!--<transport clientCredentialType="Basic" />-->
				  </security>
		      </binding>
		  </webHttpBinding>
		  <netTcpBinding>
			  <binding name="netHttpBinding_Intranet" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00"
					   sendTimeout="01:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
					   hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647"
					   maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
				  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096"
								maxNameTableCharCount="16384"/>
				  <reliableSession ordered="true" inactivityTimeout="01:10:00" enabled="false"/>
			  </binding>
		  </netTcpBinding>
	  </bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ebService">
			         <webHttp helpEnabled="true"/>  
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="webHttpBinding_Intranet">
					<!-- ojo con la linea anterior Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="debug">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" /> 
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
		<directoryBrowse enabled="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>