<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
	  <bindings>
	   <!--<netTcpBinding>
        <binding closeTimeout="01:01:00" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" name="BindingTcp" openTimeout="01:01:00" portSharingEnabled="true" receiveTimeout="01:10:00" sendTimeout="01:01:00" transactionFlow="false" transactionProtocol="OleTransactions" transferMode="Buffered">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192" />
          <reliableSession enabled="false" inactivityTimeout="01:10:00" ordered="true" />
          <security mode="None" />
        </binding>
        </netTcpBinding>-->
		  <webHttpBinding>
			  <binding name="webHttpBinding" crossDomainScriptAccessEnabled="true">
			  </binding>
		  </webHttpBinding>
	  </bindings>
    <services>
      <service behaviorConfiguration="debug" name="intranet.ServiceWCF.WCFIntranet">
       <!--<endpoint address="" binding="basicHttpBinding" contract="intranet.ServiceWCF.IWCFIntranet">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>-->
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="BindingTcp" contract="intranet.ServiceWCF.IWCFIntranet" />-->
        <!--REST-->
        <endpoint address="" behaviorConfiguration="ebService" binding="webHttpBinding" bindingConfiguration="webHttpBinding" contract="intranet.ServiceWCF.IWCFIntranet" />
        <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17476/WCFIntranet.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ebService">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="*" />
			  <add name="Access-Control-Request-Method" value="POST, GET, OPTIONS, DELETE, PUT" />
			  <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
			  <add name="Access-Control-Max-Age" value="1728000" />
		  </customHeaders>
	  </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>