
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenedor de Sedes</h2>
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/Generic.js"></script>
<script src="~/Scripts/Alumno.js"></script>
<div id="divTabla">

</div>
