body {
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    width: 100%;
}

.page-wrapper {
    display: flex;
    width: 100%;
    transition: margin-left 0.3s ease;
}

    .page-wrapper.toggled {
        margin-left: 0;
    }


    #sidebar .sidebar-header {
        padding: 20px;
        background: #4c4b4b;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    #show-sidebar {
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        transition: 0.3s;
    }

        #sidebar ul li a:hover {
            background: #7386d5;
            color: #fff;
            text-decoration: none;
        }

    #sidebar ul li.active > a {
        background: #6d7fcc;
        color: #fff;
    }

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.sidebar-footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.page-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease;
}

  .page-content .container-fluid {
        margin-top:50px;
        padding: 20px;
  }

.page-wrapper.toggled .page-content {
    margin-left: 0;
    width: 100%;
}

 

    #show-sidebar i {
        font-size: 1.2em;
    }

/* Navbar Styles */
 

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #333;
}

.navbar-custom .navbar-brand {
    padding-left:40px;
    color: #333;
}

.navbar-custom .navbar-nav .nav-item .btn-logout {
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
}

.navbar-custom .navbar-nav .nav-item .btn-logout:hover {
    background: #333;
    color: #fff;
}
 
/* Custom Scrollbar */
.sidebar-wrapper::-webkit-scrollbar {
    width: 5px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
    background: #333;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #7386d5;
    border-radius: 10px;
    border: 3px solid #333;
}









/*-----------------------------chiller-theme-------------------------------------------------*/
.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

    .chiller-theme .sidebar-wrapper .sidebar-header,
    .chiller-theme .sidebar-wrapper .sidebar-search,
    .chiller-theme .sidebar-wrapper .sidebar-menu {
        border-top: 20px solid #31353D;
    }

        .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
        .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
            border-color: transparent;
            box-shadow: none;
        }

        .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
        .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
        .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
        .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
        .chiller-theme .sidebar-wrapper .sidebar-brand > a,
        .chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
        .chiller-theme .sidebar-footer > a {
            color: #818896;
        }

            .chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
            .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
            .chiller-theme .sidebar-wrapper .sidebar-header .user-info,
            .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
            .chiller-theme .sidebar-footer > a:hover i {
                color: #b8bfce;
            }

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

    .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
        color: #ffffff;
    }

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    /*background: #3a3f48;*/
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

    .chiller-theme .sidebar-footer > a:first-child {
        border-left: none;
    }

    .chiller-theme .sidebar-footer > a:last-child {
        border-right: none;
    }


.panel-body2 {
    display: inline-flex;
}

.container-pestañas {
    border-radius: 20px;
    border: dotted;
}

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
}

.page-wrapper.toggled .sidebar-wrapper {
    top: 30px;
    left: 0px;
}


 