
@{
    ViewBag.Title = "Indexmi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indexmi</h2>


<div class="row" style="opacity: 1;">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="InformacionMatricula.htm?s=mat"><i class="fa fa-globe red-bg"></i></a>
                <span class="headline">
                    <a href="InformacionMatricula.htm?s=mat">
                        Matrícula Vía Internet
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Acceso al Módulo de Controles y Proceso de Matrícula</p>
                <ul>
                    <li>Período Académico Vigente</li>
                    <li>Fecha, Usuario, Tipo de Matrícula</li>
                    <li>Ciclo/Año, Código, Nombre, Tipo Asignatura</li>
                    <li>Sección Matriculada, Docente</li>
                    <li>Total de Cursos y Créditos Matriculados</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="programacionacademica.htm?s=mat"><i class="fa fa-calendar red-bg"></i></a>
                <span class="headline">
                    <a href="programacionacademica.htm?s=mat">
                        Programación de Cursos
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Asignaturas, Secciones y Horarios Programados</p>
                <ul>
                    <li>Asignatura, Creditaje, Horas Teoría, Práctica, Laboratorio</li>
                    <li>Sección, Docente, Turno, Aula, Horario</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="alumnoprematricula.htm?s=rep"><i class="fa fa-file green-bg"></i></a>
                <span class="headline">
                    <a href="alumnoprematricula.htm?s=rep">
                        Reporte Pre-Matrícula
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Listado de Asignaturas Disponibles para Matrícula</p>
                <ul>
                    <li>Prioridad de Matrícula</li>
                    <li>Plan, Código y Nombre Descriptivo, Ciclo, Creditaje y Repitencias de la Asignatura</li>
                    <li>Etapa del Proceso de Matrícula</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="opacity: 1;">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="asignaturamatricula.htm?s=rep"><i class="fa fa-file-text green-bg"></i></a>
                <span class="headline">
                    <a href="asignaturamatricula.htm?s=rep">
                        Reporte de Matrícula
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Registro de Matrícula del Período Académico Vigente</p>
                <ul>
                    <li>Período Académico Vigente</li>
                    <li>Fecha, Usuario, Tipo de Matrícula</li>
                    <li>Ciclo/Año, Código, Nombre, Tipo Asignatura</li>
                    <li>Sección Matriculada, Docente</li>
                </ul>
            </div>
        </div>
    </div>
    <!--
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="alumnoEvaluacion.htm?s=rep"><i class="fa fa-folder-open green-bg"></i></a>
                <span class="headline">
                    <a href="alumnoEvaluacion.htm?s=rep">
                        Reporte de Evaluaciones
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Reporte de Evaluaciones</p>
                <ul>
                    <li>Evaluaciones Ingresadas</li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="deuda.htm?s=rep"><i class="fa fa-money green-bg"></i></a>
                <span class="headline">
                    <a href="deuda.htm?s=rep">
                        Reporte de deudas
                    </a>
                </span>
            </div>
            <div>
                <p class="text-muted">Relación de deudas</p>
                <ul>
                    <li>Período Académico Vigente</li>
                    <li>Fecha, Usuario, Tipo de Matrícula</li>
                    <li>Ciclo/Año, Código, Nombre</li>
                    <li>Monto de deuda</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" style="opacity: 1;">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="main-box infographic-box clearfix" style="border-radius: 8px;">
            <div class="main-box-header clearfix">
                <a href="alumnoplan.htm?s=plan"><i class="fa fa-list yellow-bg"></i></a>
                <span class="headline">
                    <a href="alumnoplan.htm?s=plan">
                        Plan de Estudios
                    </a>
                </span>
            </div>
            <div>
                <ul>
                    <li>Asignaturas, Creditaje y Especificaciones del Plan</li>
                    <li>Ciclo/Año, &nbsp;Código, Nombre, &nbsp;Tipo, Creditaje Asignatura</li>
                    <li>Código, Nombre Asignatura Pre-Requisito</li>
                    <li>Grupo</li>
                </ul>
            </div>
        </div>
    </div>
</div>

