
@model IEnumerable<intranetMVC.Models.Alumno>

@{
    ViewBag.Title = "Mantenimiento de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/dataTable")*@
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/Generic.js"></script>
<script src="~/Scripts/Alumno.js"></script>
@*<script src="~/Scripts/.js"></script>*@
@*<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
<h2>Listado Alumno</h2>
<div id="divTabla">

</div>